	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card fas-footer"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Kiwi Points, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift fas-footer"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Kiwi Electronics tenés envíos gratis en miles de productos. Es un
							beneficio de Kiwi Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield fas-footer"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Kiwi Electronics, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	
</html>