<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
			<section >

					<form action=”/login method=”GET”>

				<div>
					<label> Mail:</label>
					<input type="email" name="user" value="">
				</div>
				
					
				<div>
					<label> Contraseña:</label>
					 <input type="password" name="pass" value=""  >
				</div>

				<div>
					<label> Recordarme:</label> 
					<input type="checkbox" name="check" value="">
				</div>


				</section>
				
				<i>

	<%- include('./partials/footer') %>
	
