<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section >

				<form action=”/register” method=”POST”>

					<div>
						<label> Imagen del producto:</label>
						<input type="file" id="imagen" name="imagen">
						<input type="submit" value="Enviar">
					</div>
	
					<div>
						<label> Nombre del producto:</label> 
						<input type="name" name="name" value="">
					</div>
	
					<div>
						<label> Descripción:</label>
						 <input type="text" name="description" value="">
					</div>
	
					<div>
						<label> Fecha de carga:</label>
						 <input type="date" name="age" value="">
					</div>
	
	
	
	
	
	
	
			</section>

	<%- include('./partials/footer') %>
	
