<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
		
		<section >

			<form action=”/register” method=”GET”>

				<div>
					<label> Foto de perfil:</label>
					<input type="file" id="imagen" name="imagen">
					<input type="submit" value="Enviar">
				</div>

				<div>
					<label> Mail:</label> 
					<input type="email" name="mail" value="">
				</div>

				<div>
					<label> Usuario:</label>
					 <input type="text" name="user" value="">
				</div>

				<div>
					<label> Contraseña:</label> <input type="password" name="pass" value=""  >
				</div>

				<div>
					<label> Fecha de nacimiento:</label>
					 <input type="date" name="age" value="">
				</div>

				<div>
					<label> DNI:</label> 
					<input type="number" name="DNI" value="">
				</div>


		</section>
				
		
		

	<%- include('./partials/footer') %>
